.Asteroids {
  outline: none;
  background: white;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Asteroids-container {
  box-shadow: 0 0 40px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Asteroids-container__dead {
  background: #555;
}

.Asteroids-container canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.Asteroids-container__dead canvas {
  opacity: 0.2;
}

.Asteroids-dead-message {
  position: absolute;
  text-align: center;
  z-index: 100;
}

.Asteroids-reset-button {
  margin: 12px;
  border: none;
  background: white;
  color: black;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}
